<html>
  <head>
      <title>y4ht.se</title>
      <style>
        body {
          background-color: black;
          color: green;
        }
        h1 {
            left: 0;
            line-height: 25px;
            top: 50%;
            width: 100%;
            margin-top: -100px;
            position: absolute;
            text-align: center;
          }

      </style>
  </head>
  <body>
    <h1>Something is wrong.</h1>
  </body>
</html>
