<html>
  <head>
      <title>y4ht.se</title>
      <style>
        body {
          background-color: black;
          color: green;
        }
        table {
            left: 0;
            line-height: 25px;
            margin-top: -100px;
            position: absolute;
            text-align: center;
            top: 50%;
            width: 100%;
            color: green;
          }

      </style>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <table>
      <thead><td><h1>Current TRTL Price</h1></td></thead>
      <tbody>
        <tr>
          <h2><td id="trtl">{{.trtl}} Turtles</td></h2>
        </tr>
        <tr>
          <h2><td id="usdPrice">{{.usdPrice}}</td></h2>
        </tr>
        <tr>
          <h2><td id="btcPrice">{{.btcPrice}}</td></h2>
        </tr>
      </tbody>
    </table>
  </body>
</html>
